# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model files
models/
*.zip
*.pth
*.pt

# Logs
logs/
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# Build
build/
dist/

# PDFs or docs you don't want to upload
*.pdf
*.docx
